<form class="detail">
    <div class="row col-12" style="margin-left: 400px;text-align: center; color: green; font-weight: bold; font-size:18px">Registration Form</div>
    <br>
    <div class="row mb-3">
        <label for="name" class="col-sm-2 col-form-label textAlign">Name: </label>
        <div class="col-sm-10 widthBox">
            <input id="name" class="form-control col" placeholder="Enter Name" type="text" [formControl]="name" required>
        </div>
    </div>
    <br>
    <div class="row mb-3">
        <label for="Address"  class="col-sm-2 col-form-label textAlign">Address: </label>
        <div class="col-sm-10 widthBox">
            <textarea id="address" class="form-control" type="text" [formControl]="address"></textarea>
        </div>
    </div>
    <div class="row mb-3">
        <label for="dob"  class="col-sm-2 col-form-label textAlign">DOB: </label>
        <div class="col-sm-10 widthBox">
            <input id="dob" class="form-control" type="date" [formControl]="dob">
        </div>
    </div>
    <div class="row mb-3">
        <label for="role"  class="col-sm-2 col-form-label textAlign">Role: </label>
        <div class="col-sm-10 widthBox">
            <select id="role" class="form-control" type="text" [formControl]="role" aria-placeholder="Select Role">
                <option disabled>Select Role</option>
            <option>Admin</option>
            <option>Manager</option>
            <option>HR</option>
            <option>Developer</option>
        </select>
        </div>
    </div>
    <div class="row mb-3">
        <label for="phone"  class="col-sm-2 col-form-label textAlign">Phone: </label>
        <div class="col-sm-10 widthBox">
            <input id="phone" type="number" class="form-control" [formControl]="phone">
        </div>
    </div>
    <div class="radio-inline row mb-3">
        <label for="gender"  class="col-sm-2 col-form-label textAlign">Gender: </label>
        <div class="col-sm-2 widthGender">
            <input class="form-check-input"  type="radio" [value]="true" [formControl]="gender">&nbsp;&nbsp;Male&nbsp;&nbsp;
            <input class="form-check-input" type="radio" [value]="false" [formControl]="gender" [ngModel]="false" >&nbsp;&nbsp;Female&nbsp;&nbsp;
        </div>
        <div class="col-sm-6"></div>
    </div>



    
<div class="row mb-3">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <button (click)="submit($event)" class="btn btn-outline-success">Submit</button>
    </div>
</div>
</form>