<mat-card style="width: 700px;margin:100px;">
<div class="submitdetail">
    <div class="row"><div class="col" style="margin-left: 210px;color: green;">Form Submitted Successfully</div></div>
    <br>
<div class="row"><div class="col textAlign">Name:</div> <div class="col">{{this.name}}</div></div>
<div class="row"><div class="col textAlign">Address:</div> <div class="col">{{this.address}}</div></div>
<div class="row"><div class="col textAlign">DOB:</div> <div class="col">{{this.dob}}</div></div>
<div class="row"><div class="col textAlign">Role:</div> <div class="col">{{this.role}}</div></div>
<div class="row"><div class="col textAlign">Phone:</div> <div class="col">{{this.phone}}</div></div>
<div class="row"><div class="col textAlign">Gender:</div> <div class="col">{{this.gender}}</div></div>
</div>
</mat-card>

